.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: opacity var(--time-animation) var(--cubic-bezier),
      visibility var(--time-animation) var(--cubic-bezier);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    max-width: 528px;
    width: 100%;
    max-height: 581px;
    height: 100%;
    opacity: 1;
    background-color: var(--white);
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-animation) var(--cubic-bezier),
      opacity var(--time-animation) var(--cubic-bezier);
  }
  .modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark);
  }
  .form-item {
    margin-bottom: 10px;
  }
  .form-item:last-child {
    margin-bottom: 20px;
  }
  .form-item-name {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    color: var(--grey);
  }
  .form-item-row {
    position: relative;
  }
  .form-item-area,
  .form-item-comment {
    width: 100%;
    padding: 12px 12px 12px 42px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--dark);
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: color var(--time-animation) var(--cubic-bezier);
    transition: fill var(--time-animation) var(--cubic-bezier);
  }
  .form-item-area:focus,
  .form-item-comment:focus {
    border-color: var(--blue);
  }
  .form-item-area:focus ~ svg,
  .form-item-comment:focus ~ svg {
    fill: var(--blue);
  }
  .contact-type-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
  .form-item-comment {
    padding: 12px 16px;
    height: 120px;
    resize: none;
  }
  .form-item-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .form-check {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .form-check-label {
    display: block;
    width: 16px;
    height: 15px;
  }
  .castom-checkbox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid var(--dark);
  }
  .form-check-item:checked + .castom-checkbox {
    background-color: var(--blue);
    background-image: url(../images/icon-vector.svg);
    background-repeat: no-repeat;
    border: 2px solid var(--blue);
    }
  .form-checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey);
  }
  .send-link {
    color: var(--blue);
  }